.products-container {
  padding: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-form-container {
  padding: 2% 25%;
  .product-form {
    height: 80vh;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid gray;
  }
  @media screen and (max-width: 600px) {
    padding: 5% 5%;
    .inputNumber {
      width: 100%;
    }
  }
}
