.products-container {
  padding: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-form-container {
  padding: 100px;
  .product-form {
    padding: 20px;
    border-radius: 16px;
    border: 2px solid gray;
  }
}
